// Externals

// Setup
@import 'setup/variables';
@import 'setup/functions';
@import 'setup/mixins';

// Basics
@import 'basics/typography';
@import 'basics/base';
@import 'basics/helpers';
@import 'basics/layout';
@import 'basics/modals';
@import 'basics/animations';

// Pages
@import 'pages/home';
@import 'pages/main-page';
@import 'pages/profile';
@import 'pages/messaging-page';
@import 'pages/notifications-page';

// Components
@import 'cmps/header';
@import 'cmps/feed';
@import 'cmps/logo';
@import 'cmps/input-cmp';
@import 'cmps/nav-cmp';
@import 'cmps/post-list';
@import 'cmps/post-preview';
@import 'cmps/img-preview';

.temp-div {
  position: fixed;
  background-color: rgb(74, 74, 14);
  z-index: 4000;
  color: white;
}
