.header {
  background-color: rgb(255, 255, 255);
  height: 58px;
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid $border;
  color: $lightTxt;

  .container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 0 5px;

    .left {
      display: flex;
      align-items: center;
    }
  }
  .logo {
    cursor: pointer;
  }
}
