.input-cmp {
  position: relative;
  padding: 9px 0;
  display: flex;
  align-items: center;

  .search-icon {
    position: absolute;
    color: #666666;
    left: 10px;
  }

  input {
    width: 216px;
    height: 100%;
    border-radius: 32px;
    border: none;
    background: #f4f5f5;
    padding: 10px 10px 10px 30px;
    line-height: 1.75;
    font-weight: 400;
    font-size: 14px;
    gap: 8px;

    transition: width 0.3s;

    &:focus {
      outline: 1px solid $border;
    }
  }
}

@media (max-width: 335px) {
  .input-cmp {
    .search-icon {
    }

    input {
      width: 165px;
      &:focus {
      }
    }
  }
}
