.nav-cmp {
  height: 100%;

  .bg {
    display: none;
  }

  .menu {
    display: none;
  }

  ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      padding: 0 15px;
      height: 100%;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all, 0.2s;

      a {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        background: #f4f5f5;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3px;

        svg {
        }
      }

      &.clicked {
        border-bottom: 1px solid;
        color: #2db8a1;
      }

      &.profile-img {
        padding: 0 5px;
        .img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: lightseagreen;
          object-fit: cover;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .nav-cmp {
    ul {
      li {
        a {
          p {
            display: none;
          }
          &:hover {
          }
        }

        &:hover {
        }

        span {
          svg {
            width: 30px;
            height: 30px;
          }
        }

        &.clicked {
        }

        &.profile-img {
          .img {
          }
        }
      }
    }
  }
}

@media (max-width: 530px) {
  .nav-cmp {
    // position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;

    .bg {
      display: unset;
      background-color: rgba(0, 0, 0, 0.503);
      position: absolute;
      inset: 0 0 0 0;
      height: 100vh;
      left: 0;
      right: 0;
      width: 100vw;
      display: none;

      &.show-menu {
        display: unset;
      }
    }

    .menu {
      display: block;
      color: black;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
      cursor: pointer;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    ul {
      all: unset;

      flex-direction: column;
      position: fixed;
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      background-color: white;
      width: 60vw;
      height: 100vh;
      transition: all, 0.3s;

      &.show-menu {
        display: flex;
      }

      display: none;
      li {
        height: 58px;

        &:nth-child(3) {
          order: 4;
        }
        &:nth-child(4) {
          order: 1;
        }
        &:nth-child(2) {
          order: 3;
        }
        &:nth-child(1) {
          order: 2;
        }

        a {
          flex-direction: row-reverse;
          justify-content: center;
          p {
            display: unset;
          }
          &:hover {
          }
        }

        &:hover {
        }

        span {
          svg {
          }
        }

        &.clicked {
        }

        &.profile-img {
          .img {
          }
        }
      }
    }
  }
}
